@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<!-- Our services section -->
<section >
    <div class="services">
        <div class="container">
            <img src="~/images/background-effects/background-lines-right.svg" alt="">
            <div class="title">
                <p>@Model.Value("ourServicesSectionTitle")</p>
                <h3>@Model.Value("ourServicesSectionHeading")</h3>
            </div>
            <div>
                @Html.GetBlockListHtml(Model.OurServices)
            </div>  
            <div class="services-button">
                <a class="btn-transparent" href="@Model.Value("ourServicesSectionButtonUrl")">@Model.Value("ourServicesSectionButtonText") <i class="fa-regular fa-arrow-up-right"></i></a>
            </div>
        </div>
    </div>
</section>