@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "LayoutWithShowcase.cshtml";
}

@await Html.PartialAsync("_BrandSection")

<!-- features section -->
<section>
    <div class="features">
        <div class="container">
            <div class="feature-main">
                <p>@Model.Value("serviceFeaturesSectionTitle")</p>
                <h3>@Model.Value("serviceFeaturesHeading")</h3>
                <a href="@Model.Value("serviceFeaturesButtonUrl")" class="btn-theme">@Model.Value("serviceFeaturesButtonText") <i class="fa-regular fa-arrow-up-right"></i></a>
            </div>
            <div class="expertis">
                @Html.GetBlockListHtml(Model.ServiceFeatures)
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("_AboutCompanySection")

@await Html.PartialAsync("_OurServicesSection", Model)

@await Html.PartialAsync("_ChooseUsSection")

@await Html.PartialAsync("_CaseStudiesSection")

@await Html.PartialAsync("_MeetOurTeam")

@await Html.PartialAsync("_TestimonialSection")

@await Html.PartialAsync("_ArticleAndNewsSection")

@await Html.PartialAsync("_SubscribeSection")